[submodule "lab-tasks"]
	path = lab-tasks
	url = git@github.com:fm-key-lab/lab-tasks.git
[submodule "keylab-apptainer-definitions"]
	path = keylab-apptainer-definitions
	url = git@github.com:fm-key-lab/keylab-apptainer-definitions.git
