arviz
biopython
dask
duckdb
ipykernel
ipython
ipywidgets
jax[cpu]
jaxlib
jupyter
# https://discourse.jupyter.org/t/why-tornado-web-httperror-http-403-forbidden/24775/2
jupyter_server==2.12.5
jupyterlab
matplotlib
neptune
numba
numexpr
numpy
openpyxl
pandas
patsy
polars
prettytable
pyarrow
pymc
pysam
pytest
requests
scipy
scikit-learn
seaborn
sparse
sympy
tqdm
xarray
xlrd